* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    font-family: arial, sans-serif;
    background-color: #F1F2F2;
    min-height: 100vh;
    padding-bottom: 70px;
}

.header {
    background-color: #1A72B9;
    color: #fff;
    padding: 10px 5px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.panel {
    margin: 30px 25px 30px;
    background-color: #fff;
    color: rgb(59, 59, 59);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px -2px rgb(46, 45, 45);
    font-size: 20px;
    max-width: 500px;
}

.navigation {
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media(min-width:550px) {
    .panel {
        margin: 30px auto;
    }
}