.fieldsOfStudy {
    display: flex;
    flex-direction: column;
}

.fieldsOfStudy__el:nth-child(1) {
    font-size: 24px;
    font-weight: 700;
}

.fieldsOfStudy__el {
    padding: 5px 0;

}

.fieldsOfStudy__title {
    margin: 10px 0 5px 0;
    font-weight: 700;
}

.fieldsOfStudy__btn {
    padding: 5px 30px;
    width: 100px;
    margin-left: 10px;
    font-size: 16px;
    background-color: #1A72B9;
    border-style: none;
    border-radius: 5px;
    color: #fff;
    transition: .2s linear;
}

.fieldsOfStudy__btn:hover {
    background-color: #0052ea;
    cursor: pointer;
}

.fieldsOfStudy__studentList {
    display: flex;
    flex-direction: column;
}

.fieldsOfStudy__studentList--el {
    line-height: 140%;
}

.fieldsOfStudy__studentList--line {
    height: 3px;
    width: 80%;
    background-color: rgb(128, 128, 128, 0.5);
    border-radius: 35%;
    margin: 5px 0 30px;
}